server:
  port: 8080

spring:
  application:
    name: ms-logistica
  datasource:
    url: jdbc:postgresql://localhost:5432/logistica
    username: postgres
    password: postgres
  jpa:
    defer-datasource-initialization: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create-drop
  sql:
    init:
      mode: always

services:
  pedido-service:
    url: https://localhost:8081
  open-route-service:
    url: https://api.openrouteservice.org
    api-key: ''